/* Card - Users */

.box-card {
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7; 
    position: relative;
}

.table-card {
    margin: auto;
}

.table-card-title {
    font-size: 30px;
    text-align: left;
    color: rgb(7, 85, 7);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.table-card-cont {
    text-align: left;
    font-size: 18px;
    color: rgb(77, 78, 77);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

